<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-family: 'Poppins',sans-serif;
            font-weight: 400;
            color:#fff;
        }
        body{
            display: flex;
            place-items: center;
            flex-direction: column;
            background-color: #000;
        }
        .container{
            display: flex;
            flex-direction: row;
            place-items: center;
            flex-wrap: wrap;
        }
        h1.title{
            margin:20px;
            text-align: center;
        }
        .follower{
            border-radius: 10px;
            width: max-content;
            padding: 25px;
            padding-top: 10px;
            margin:10px;
            background-color: rgba(255,255,255,0.05);
        }
        .done{
            padding:6px 22px;
            border:none;
            border-radius:3px;
            font-size: 15px;
            background-color: rgb(21, 135, 211);
            color:#fff;
            cursor: pointer;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1 class="title">Admin</h1>
    <div class="container">

    
    <%for (follower of followers) {%>
        <div class="follower">
            <h1>Full Name: <%=follower.full_name%></h1>
            <p>Given Price : <%=follower.price%>$</p>
            <p>Requested Followers : <%=follower.followers%></p>
            <p>Offer : <%=follower.requestedOffer == 1 ? "Instagram" : "Twitch"%></p>
            <p>Email : <%=follower.email%></p>
            <p>Url : <%=follower.url%></p>
            <button class="done" target="<%=follower._id%>">Done</button>
        </div>
    <%}%>
    <%if (followers.length == 0){%>
        <p>No requested followers</p>
    <%}%>
    <script defer>
        document.querySelectorAll('.done').forEach((btn)=>{
            let target = btn.getAttribute('target');
            console.log(btn)
            btn.onclick = () => {
                btn.innerText = 'Deleting...';
            fetch('/users', {
                method:'delete',
                headers:{
                    req_id:target
                }
            }).then(res => res.json()).then((res)=>{
                fetch('/followers',{
                    method:'post',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify({
                        user:'thunders_admin',
                        pass:'#0ezfollowerspassgmail#113#1'
                    })}).then(res => res.text()).then(body => {
                        document.body.innerHTML = body;
                        s();
                    })
            })
            }
        })
    </script>
    </div>
</body>
</html>